@model Plant_Paradise.Models.Sub_Categories

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLAyout.cshtml";
}
<br />
<div>
    <p style="width:47%;margin-left:auto;margin-right:auto;font-size:1.5rem;">
        Delete

    </p>
    <p style="width:47%;margin-left:auto;margin-right:auto;font-size:1.75rem;">
        Are you sure you want to delete this?

    </p>
</div>



<div class="container-fluid d-flex align-items-center flex-column">
    <div class="product-details">


        <label for="product-category">
            @Html.DisplayNameFor(model => model.SubCategoryImage)
        </label>
        <span id="product-category">
            <img src="~/Images/@Model.SubCategoryImage" class="img" />
        </span>
        <label for="product-category">
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </label>
        <span id="product-category">
            @Html.DisplayFor(model => model.SubCategoryName)
        </span>
        <label for="product-category">
            @Html.DisplayNameFor(model => model.SubCategory_Description)
        </label>
        <span id="product-category">
            @Html.DisplayFor(model => model.SubCategory_Description)
        </span>
        <label for="product-category">
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </label>
        <span id="product-category">
            @Html.DisplayFor(model => model.Category.Category_Name)
        </span>
    </div>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="display:flex;width:50%; margin-left:auto;margin-right:auto;">

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index", "CategoriesAdmin", null, new {@class="btn btn-primary"})
        </div>
        </div>
        }
