@model Plant_Paradise.Models.Sub_Categories

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLAyout.cshtml";
}
<br /><br />
<div>
    <p style="width:47%;margin-left:auto;margin-right:auto;font-size:2.5rem;">
        Details
    </p>
</div>



<div class="container-fluid d-flex align-items-center flex-column">


    <div class="product-details">

        <label for="product-name">
            @Html.DisplayNameFor(model => model.SubCategoryImage)
        </label>

        <span id="product-name">
            <img src="~/Images/@Model.SubCategoryImage" class="img" />
        </span>

        <label for="product-name">
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </label>

        <span id="product-name">
            @Html.DisplayFor(model => model.SubCategoryName)
        </span>

        <label for="product-name">
            @Html.DisplayNameFor(model => model.SubCategory_Description)
        </label>

        <span id="product-name">
            @Html.DisplayFor(model => model.SubCategory_Description)
        </span>

        <label for="product-name">
            @Html.DisplayNameFor(model => model.Category.Category_Name)
     </label>

        <span id="product-name">
            @Html.DisplayFor(model => model.Category.Category_Name)
        </span>

       
       </div>
    </div>

<div style="display:flex">
    <p style="width:50%;margin-left:auto;margin-right:auto;">
        @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategory_id }, new {@class="btn btn-success"}) 
        @Html.ActionLink("Back to List", "Index", "CategoriesAdmin", null, new {@class="btn btn-primary"})
    </p>
</div>