@model IEnumerable<Plant_Paradise.Models.Sub_Categories>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLAyout.cshtml";
}


<div class="page-header">
    <h1>Subcategories</h1>
    <small>Home / Subcategories</small>
<br />
    <a href="/CategoriesAdmin/Index">
        <<< Back
    </a>
</div>

<div class="page-content">

    <div class="records table-responsive">
        @using (Html.BeginForm("search", "Sub_CategoriesAdmin"))
        {
        <div class="record-header">
            <div class="add">

                @Html.ActionLink("Add Subcategory", "Create", null, new { @class = "btn btn-primary" })
            </div>

            <div class="">
                <input type="search" placeholder="Search" name="Search" style="margin:0;height: 33px !important;">
                <input type="submit" width="10px" style="margin:0;" value="search" class="btn btn-info">
            </div>
        </div>
        }
        <div>
            <table width="100%">
                <thead>

                   
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SubCategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubCategoryImage)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.SubCategory_Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category.Category_Name)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.SubCategoryName)
                            </td>
                            <td>
                                <img src="~/Images/@item.SubCategoryImage" class="img" />
                            </td>
                            <td class="description">
                                @Html.DisplayFor(modelItem => item.SubCategory_Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Category_Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SubCategory_id }, new {@class="btn btn-success"}) 
                                @Html.ActionLink("Details", "Details", new { id = item.SubCategory_id }, new {@class="btn btn-info"}) 
                                @Html.ActionLink("Delete", "Delete", new { id = item.SubCategory_id }, new {@class="btn btn-danger"})
                            </td>
                        </tr>
                    }
                </tbody>
                       

                    </table>
            </div>
</div>
</div>