@model IEnumerable<Plant_Paradise.Models.Order_Details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLAyout.cshtml";
}

<div class="page-header">
    <h1>Order Detailes</h1>
    <small>Home / Order Detailes</small>
    <br />
    <a href="/OrdersAdmin/Index">
            <<< Back
        
  
            </a>
</div>

<div class="page-content">

    <div class="records table-responsive">
        @using (Html.BeginForm("search", "ViewProductFromAdmin"))
        {
        <div class="record-header">
            <div class="add">
                
            </div>

            <div class="">
                <input type="search" name="Search" placeholder="Search" style="margin:0;height: 33px !important;">
                <input type="submit" width="10px" style="margin:0;" value="search" class="btn btn-info">
            </div>
        </div>
        }
        <div>
            <table width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Product_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Product_Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Product_Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)

                        </th>
                        <td>
                            Total
                        </td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Product_Name)
                            </td>
                            <td>
                                <img src="~/Images/@item.Product.Product_Image" class="img" style="z-index:20"/>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Product_Price) JD
                            </td> 
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)

                            </td>
                            <td>
                                @{ 
                                    var Totalprice_Item = item.Product.Product_Price * item.Quantity;
                                }
                                @Totalprice_Item JD
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
</div>
</div>
</div>